body {
  font-family: 'Raleway', sans-serif;
}

.bgImgCenter{
  background-image: url("../img/hombre-trotando.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  position: relative;
}




header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.15)),url("../img/hombre-trotando.jpg");      
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 20rem;
  background-attachment: fixed;
}

#presentacion h2 {
  color: white;
  font: 700 9vmin/40vh Raleway, cursive;
  text-align: center;
}

#carousel-one .carousel-indicators {
  top: 50px;
}

#carousel-one .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#carousel-two .carousel-inner img {
  margin: auto;
  margin-bottom:50px;

}

#carousel-two .carousel-indicators {
  bottom:-50px;
}

#carousel-two .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#carousel-two img {
  height: 35vh;
}

.content-info {
  background: #f9f9f9;
  padding: 40px 0;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding-bottom: 100px
}

table {
  width: 100%;
  background: #fff;
  border: 1px solid #dedede
}

table thead tr th {
  padding: 20px;
  border: 1px solid #dedede;
  color: #000
}

table.table-striped tbody tr:nth-of-type(odd) {
  background: #f9f9f9
}

table.result-point tr td.number {
  width: 100px;
  position: relative
}

.text-left {
  text-align: left !important
}

table tr td {
  padding: 10px 20px;
  border: 1px solid #dedede
}

table.result-point tr td .fa.fa-caret-up {
  color: green
}

table.result-point tr td .fa {
  font-size: 17px;
  position: absolute;
  right: 20px
}

table tr td {
  padding: 10px 40px;
  border: 1px solid #dedede
}

table tr td img {
  max-width: 32px;
  float: left;
  margin-right: 11px;
  margin-top: 1px;
  border: 1px solid #dedede
}